html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js")
    script(src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/login.css')

body
    include ./component/navbar.jade
    div.formContent
        h2 Details
        div.jumbotron.eventBox
            h3 #{eventA.title}
            h4 #{eventA.link}
            h5 #{eventA.category}
            p Date:&nbsp#{eventA.time}
            p  #{eventA.description}
            img.eventImg(src=eventA.imgPath)
            div#innerButton
                -if(eventA.status=="Scheduled"){
                p#mark(onClick="onClick()") mark as started!
                -}
                -else if(eventA.status=="Started"){
                p#mark(onClick="onComplete()") mark as completed!
                -}
                -else{
                p#mark Expired
                -}
            <button type="button" class="btn btn-danger" onClick="submit()" id="delete">Delete</button>
script.
    var event_id='#{eventA.event_id}';
    var onClick=function(){
        console.log(event_id)
        $.post("/event/started",{
            event_id:event_id
        },function(data,satus){
            console.log(data)
            if(data.code==200){
                alert("succesfully started!")
                $("#innerButton").html("<p onClick='onComplete()' id='mark'>mark as completed</p>")
            }
            else if(data.code==1){
                alert("ops error")
                window.location.replace("/login");
            }
        })
    }
    var onComplete=function(){
        console.log(event_id)
        $.post("/event/completed",{
            event_id:event_id
        },function(data,satus){
            console.log(data)
            if(data.code==200){
                alert("succesfully started!")
                $("#innerButton").html("<p id='mark'>Expired</p>")
            }
            else if(data.code==1){
                alert("ops error")
                window.location.replace("/login");
            }
        })
    }