html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js")
    script(src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/login.css')

body
    include ./component/navbar.jade
    div.formContent
        h2 Details
        div.jumbotron.eventBox
            h3 #{event.title}
            h4 #{event.link}
            h5 #{event.category}
            p  #{event.description}
            img.eventImg(src=event.imgPath)
            p#mark(onClick="onClick()") mark as started!
            <button type="button" class="btn btn-danger" onClick="submit()" id="delete">Delete</button>
script.
    var onClick=function(){
        console.log("111")
    }