doctype html
html
  head
    title= "ProEvento-Register"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js")
    script(src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/login.css')
script.
    var onClick=function(){
        if(document.getElementById('input1').value==""||document.getElementById('input2').value==""||document.getElementById('input3').value==""){
            alert("input can't be empty!")
            return
        }
        if(document.getElementById('input2').value!=document.getElementById('input3').value){
            alert("password doesn't match")
            return
        }
        var userName=document.getElementById('input1').value
        var password=document.getElementById('input2').value
        $.post("/register",{
            userName:userName,
            password:password
        },function(data,satus){
            if(data.code==200){
                window.location.replace("/");
            }
            else if(data.code==1){
                alert("user already existed!")
            }
        })
    }
    var next=function(){
        $("#secondPart").css("display", "block");
        $("#firstPart").css("display", "none");
    }
    var goback=function(){
        $("#secondPart").css("display", "none");
        $("#firstPart").css("display", "block");
    }
    var submit=function(){
        $("#secondPart").css("display", "none");
        $("#thirdPart").css("display", "block");
    }
    var next4=function(){
        $("#forthPart").css("display", "block");
        $("#thirdPart").css("display", "none");
    }
    var back2=function(){
        $("#secondPart").css("display", "block");
        $("#thirdPart").css("display", "none");
    }
body
    div#firstPart.formContent
        h2 Welcome To ProEvento
        h3 An app that combines Zoom and Facebook
        div#button
            <button type="button" class="btn btn-primary" id="nextButton" onClick="next()">Next</button>
    div#secondPart.formContent
        h2 Welcome To ProEvento
        h3 See some interesting event hosts? You can follow them in ProEvento!
        <button type="button" class="btn btn-primary" id="backButton" onClick="goback()">Back</button>
        div#button_right
            <button type="button" class="btn btn-primary" onClick="submit()">Next</button>
    div#thirdPart.formContent
        h2 Welcome To ProEvento
        h3 You can add your own events with people of shared interests!
        <button type="button" class="btn btn-primary" id="backButton" onClick="back2()">Back</button>
        div#button_right
            <button type="button" class="btn btn-primary" onClick="next4()">Next</button>
    div#forthPart.formContent
        h2 Welcome To ProEvento
        p User Name
        input#input1(type="text",Name="username")
        p Password
        input#input2(type="password",Name="pwd")
        p Confirm Password
        input#input3(type="password",Name="pwd")
        br
        button.login(type='submit',value='Register',onClick="onClick()") Sign Up
        div.link
            a(href="/login",title="Register") Already have an account? Login here!

