html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js")
    script(src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/login.css')
body
    include ../component/navbar.jade
    div.formContent
      h2 Invited People
      -for(var i = 0; i < list.length ;++i){
      a(href="/user/"+list[i].invited_user)
          div(style="height:45px").card.space
              div.card-body
              <h5 class="card-title text-muted" style="display:inline">#{list[i].invited_user}</h5>
      <button id="uninvite#{list[i].invited_user}"+#{i} type="button" class="btn btn-primary" onClick="uninvite(event)" style="display:block;margin-top:10px">Uninvite</button>
      <button id="invite#{list[i].invited_user}"+#{i} type="button" class="btn btn-primary" onClick="invite(event)" style="display:none;margin-top:10px">Invite</button>

      -}

script.
    
    var invite=function(event){
        var userName=event.target.id.slice(6)
        var eventId=document.URL.split("/")[4]
        $.post("/event/"+eventId+"/invitation",{userName:userName},function(data,status){
            if(data.code==200){
                var string='#'+event.target.id
                var unstring='#un'+event.target.id
                $(string).css("display","none")
                $(unstring).css("display","block")
            } 
        })


    }
    var uninvite=function(event){
        var userName=event.target.id.slice(8)
        var eventId=document.URL.split("/")[4]
        $.post("/event/"+eventId+"/uninvitation",{userName:userName},function(data,status){
            if(data.code==200){
                var unstring='#'+event.target.id
                var string=unstring.slice(3)    
                $(unstring).css("display","none")
                $('#'+string).css("display","block")
            } 
        })

    }